#MealOp {
    width: 400px;
    height: 200px;
}

.invis {
    opacity: 0;
}

#menu {
    
    height: 700px;
}

body {
    background-image: url("/workspace/react-restaraunt/app/src/img/215328.jpg");
    background-color: #cccccc;
   }
#spinny {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}